<section class="events">
    <h1>Events</h1>
    <button (click)="show()">Show</button>
    <button (click)="hide()">Hide</button>

    <div class="row">
        <section *ngIf="isClicked">
            <img id="loading" src="http://www.vitorazevedo.net/external_files/loading_small.png">
        </section>
    </div>
</section>

<section class="data-binding">
    <h1>Data Binding</h1>
    {{dataBinding}}
    <div class="row">
        <input type="text" placeholder="firstName" [(ngModel)]="firstName"> firstName : {{firstName}}
    </div>

    <div class="row">
        <input type="text" placeholder="lastname" #lastName value="hello">lastName : {{lastName.value}}
    </div>
</section>